{% extends "base.html" %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About Me</title>
<meta name="description" content="Personal Tech Blog, with a focus on Python, Software Development, Data Science, and Web Development.">
<section class="blog-list px-3 py-5 p-md-5">
	<div class="main-wrapper">
		<h2 class="title mb-3">About Me</h2>
			<p>Bachelors Degree in Computer Science from the University of Leeds with knowledge and skills in Python, Finance, Data Science, Machine Learning, Angular, AWS.<br>Employed as a Technical Business Analyst & Scrum Master at IHS Markit since 2016 designing and building portfolio management POCs and software tools for use in the DeltaOne finance sector.</p>
                <!--<figure><img class="img-fluid" style="width: 100%;" src="assets/images/hike.jpg"></figure>-->
			    <h5 class="mt-5">About The Blog</h5>
			    <p>Basic blog to host my data science and other coding side projects, such as portfolio analytics, fitbit analytics and in the future machine learning projects.</p>
	</div>
</section>
{% endblock %}