{% extends "base.html" %}
{% block content %}
<title>{{ post.title }}</title>
<meta name="description" content="{{ post.description }}">
<link rel="stylesheet" href="{{ url_for('pygments_css') }}">
<div class="main-wrapper">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
                <a class="btn btn-link" href="/" role="button"><- Back</a>
            {{ post.html|safe }}
            {{ post.date }}
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% endblock %}
