{% extends "base.html" %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>My Projects</title>
<meta name="description" content="Python Data and Web Development projects.">
<section class="blog-list px-3 py-5 p-md-5">
        <div class="item mb-5">
            <div class="media">
                <img class="mr-3 img-fluid post-thumb d-none d-md-flex" style="width:15%; height:15%" src="/static/images/reddit_snoo_cloud.png" alt="image">
                <div class="media-body">
                    <h3 class="title mb-1"><a href="https://www.socialwordcloud.com" target="_blank">Social Word Cloud</a></h3>
                    <div class="intro">
                        Social media word cloud creator powered by Python and Flask.
                        <br>
                        Generate word clouds for Reddit, Twitter or a block of text.
                    </div>
                    <a class="more-link" href="https://www.socialwordcloud.com" target="_blank">Go to site &rarr;</a>
                </div>
            </div>
        </div>
</section>
{% endblock %}