<body>    
    <div class="main-wrapper">
	    	    
	    <article class="about-section py-5">
		    <div class="container">
			    <h2 class="title mb-3">About Me</h2>
                <p>...</p>
                <!--<figure><img class="img-fluid" style="width: 100%;" src="assets/images/hike.jpg"></figure>-->
			    <h5 class="mt-5">About The Blog</h5>
			    <p>Simple blog to post and show my side projects.</p>
			    <h5 class="mt-5">My Skills and Experiences</h5>
			    <p>Bachelors Degree in Computer Science from the Univeristy of Leeds with skills in Python, Data Science, Machine Learning, Angular, AWS.<br>Employed as a Techincal Business Analyst at IHS Markit since 2016 designing and building portfolio management POCs and software tools for use in the Deltaone finance sector.
                </p>
			    <h5 class="mt-5">Side Projects</h5>
			    <p>...</p>
			    
		    </div>
	    </article><!--//about-section-->
    </div><!--//main-wrapper-->   
    <!-- Javascript -->          
    <script src="assets/plugins/jquery-3.3.1.min.js"></script>
    <script src="assets/plugins/popper.min.js"></script> 
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>    

</body>

