<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Portfolio Analytics
			</h3>
			<p>
				This page is dedicated to the daily tracking of my ETF holdings.<br>
				I am currently invested in the following three Vanguard ETFs which provide exposure to Global, UK, and Emerging Market equities:
			</p>
				<table class="table table-bordered">
					<thead>
					  <tr>
						<th scope="col">Ric</th>
						<th scope="col">Name</th>
						<th scope="col">Start % Weighting</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td><a href="https://www.vanguardinvestor.co.uk/investments/vanguard-ftse-emerging-markets-ucits-etf-usd-distributing">VFEM.L</a></td>
						<td>Vanguard FTSE Emerging Markets</td>
						<td>10</td>
					  </tr>
					  <tr>
						<td><a href="https://www.vanguardinvestor.co.uk/investments/vanguard-ftse-250-ucits-etf-gbp-distributing">VMID.L</a></td>
						<td>Vanguard FTSE 250 UCITS</td>
						<td>25</td>
					  </tr>
					  <tr>
						<td><a href="https://www.vanguardinvestor.co.uk/investments/vanguard-ftse-all-world-ucits-etf-usd-distributing">VWRL.L</a></td>
						<td>Vanguard FTSE All World</td>
						<td>65</td>
					  </tr>
					</tbody>
				  </table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
            <div [chart]="chart"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
            <ag-grid-angular
                style="width: 100%; height: 250px"
				class="ag-theme-balham"
                [rowData]="rowData"
                [columnDefs]="columnDefs">
            </ag-grid-angular>
		</div>
		<div class="col-md-6">
            <ag-grid-angular
                style="width: 100%; height: 250px"
				class="ag-theme-balham"
                [rowData]="rowPriceData"
				[columnDefs]="columnPriceDefs">
            </ag-grid-angular>
		</div>
	</div>
</div>